

#stoopid{
	color: gold;
	font-size: 48px;
	background-color: blue;
	height: 250px;
	width: 250px;
	border-radius: 125px;
	position: fixed;
	left: 40%;
	top: 200px;
}

#lucky{
	background-color: rgba(45,45,45,.85);
	font-size: 128px;
	color: white;
	width: 100%;
	top: 175px;
	left: 0px;
    height: 150px;
    position: absolute;
	padding-top: 150px;
	padding-left: 125px;
    z-index: 1;
}

#dummy{

    padding: 100px;

}

#smarty{

    position: absolute;
    color: steelblue;
    top: -100px;

}